streamlit>=1.32.0
pandas>=2.0.0
plotly>=5.18.0
langchain>=0.2.0
langchain-core>=0.2.0
langchain-groq>=0.1.0
langchain-ollama>=0.1.0
langgraph>=0.1.0
python-dotenv>=1.0.0
matplotlib>=3.8.0
datetime>=5.0.0
uuid>=1.0.0